@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  display: block;
  font-size: 3em;
  font-weight: bold;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
}

p {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline;
}

div {
  display: block;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}


/*  NAVBAR ↓ */

nav {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
  align-items: center;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
  margin: 0 24px;
}

.nav__link--primary {
  padding: 16px 24px;
  background: #6415ff;
  border-radius: 500px;
  color: #f7fafc;
  font-weight: 600;
}

.nav__link--primary:hover {
  background-color: #4b0fbf;
}

.login {
  margin-left: 48px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg {
  display: none;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.btn:hover {
    background-color: #4b0fbf;
}



/*  MODAL MENU ↓ */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}


/* HEADER / ABOUT US ↓ */

header {
  display: block;
  unicode-bidi: isolate;

}

header .row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.header__description {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--btn {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  padding: 0 32px;
  background-color: #6415ff;
  border: none;
  border-radius: 500px;
  color: #f7fafc;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
  cursor: pointer;
  transition: background-color 300ms;
}

.header__email--btn:hover {
  background-color: #4b0fbf;
}

.header__customers--title {
  margin-top: 80px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #a0aec0;
}

.header__customers {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
  size: auto;
}

.header__img--wrapper {
  width: calc(100% - 40%);
}

.header__img {
  width: 100%;
  max-width: 768px;
}


/* FEATURES ↓ */

#features {
  position: relative;
  display: flex;
  justify-content: space-between;


}

#features .container {
  padding: 80px 0;
  margin: 0 auto;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: calc(100%/3);
    display: flex;
}

.service__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.service__icon--wrapper {
    display: flex;
    padding: 24px;
    border: 1px solid #e5e7eb;
    border-radius: 48px;
}

.service__img {
    width: 40px;
    height: 40px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}


/* QUALITY WORK ↓ */

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quality__description {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin-right: 64px;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

#quality .btn {
    margin-top: 24px;
    width: fit-content;
}

.quality__img--wrapper {
    border-radius: 24px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    z-index: 2;
    display: flex;
    width: 50%;
}

.quality__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}


/* STEPS ↓ */

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img {
    z-index: 2;
    width: 100%;
}

.steps__img--wrapper {
    width: 50%;
    z-index: 2;
    display: flex;
    max-width: 600px;
    padding: 32px 0;
    padding-right: 64px;
}

.steps__description {
    padding: 32px 0;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES ↓ */

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: left;
}


.values__description, .values__img {
  width: 50%;
  
}

.values__description {
  padding: 32px 0;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
}

.values__list {
  display: flex;
  justify-items: center;
  flex-direction: row; 
}

.value {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.value__title {
  display: flex;
  align-items: center;

}

.value__name {
  font-weight: 600;
  font-size: 16px;
  color: #243e63;
  margin-left: 16px;
  padding: 24px 0;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}
.value__img figure {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.value__img {
  max-width: 20px;
  max-height: 20px;
  opacity: 0.5;
  
}

.value__para {
  font-size: 14px;
  color: #718096;
  margin: 8px 8px;
  font-weight: 500;
  line-height: 1.5;
}

#values .btn {
    margin-top: 24px;
    width: fit-content;
}
/* PRICING ↓ */

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#pricing .container {
  padding: 80px 0;
}

.pricing__description {
  text-align: center;
}

.plan__list {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-color: rgb(27, 194, 41);

}

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 20rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan__name{
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
}

.amount{
  font-weight: 800;
  font-size: 32px;
}

.duration{
  font-size: 12px;
  font-weight: 800;
  text-transform:uppercase;
  color: #909397;
}

.plan__top{
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgb(238, 237, 237);
  border-top: 1px solid rgb(238, 237, 237);
}

.plan__middle{
  margin: 0 auto;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(238, 237, 237);
  border-top: 1px solid rgb(238, 237, 237);
}

.plan__target{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.feature {
  font-size: 14px;
  font-weight: 500;
  color: #7c8ba1;
  margin-bottom: 16px;
  
}

.plan__bottom {
  margin: 0 auto;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgb(238, 237, 237);
  border-top: 1px solid rgb(238, 237, 237);
}


/* TESTIMONIALS ↓ */

#testimonials .row {
  display: flex;
}


/* START / CALL TO ACTION ↓ */

#start .row {
  position: relative;
  overflow: hidden;
}


/* FOOTER ↓ */

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}


/* MOBILE RESPONSIVENESS ↓ */

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
